html>body {
  font-family: 'Tahoma', Geneva, Verdana, sans-serif !important;
  color: blue;
  font-size: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
